// Colors used throughout this theme.
//
// The aim is to give the user more control. Thus, instead of hard-coding colors
// in various parts of the stylesheet, the approach taken is to define all
// colors as CSS variables and reusing them in all the places.
//
// `colors-dark` depends on `colors` being included at a lower specificity.

@mixin colors {
  --color-problematic: #b30000;

  // Base Colors
  --color-foreground-primary: #131210; // for main text and headings
  --color-foreground-secondary: #3f3e3b; // for secondary text
  --color-foreground-muted: #969088; // for muted text
  --color-foreground-border: #b7b0a4; // for content borders

  --color-background-primary: #fff7eb;
  --color-background-secondary: #f4e9d9; // for navigation + ToC
  --color-background-hover: #e5d8c3; // for navigation-item hover
  --color-background-hover--transparent: hsl(36 2% 92% / 20%);
  --color-background-border: #ede2d0; // for UI borders
  --color-background-item: #b7b0a4; // for "background" items (eg: copybutton)

  // Announcements
  --color-announcement-background: #000000dd;
  --color-announcement-text: #eeebee;

  // Brand colors
  --color-brand-primary: #2962ff;
  --color-brand-content: #0b0b14;

  // API documentation
  --color-api-background: var(--color-background-secondary);
  --color-api-background-hover: var(--color-background-hover);
  --color-api-overall: var(--color-foreground-secondary);
  --color-api-name: var(--color-problematic);
  --color-api-pre-name: var(--color-problematic);
  --color-api-paren: var(--color-foreground-secondary);
  --color-api-keyword: var(--color-foreground-primary);
  --color-highlight-on-target: #e8dcc8;

  // Inline code background
  --color-inline-code-background: var(--color-background-secondary);

  // Modal overlay background
  --color-modal-overlay: #00000040;

  // Highlighted text (search)
  --color-highlighted-background: #e5d8c3;
  --color-highlighted-text: var(--color-foreground-primary);

  // Input field (search)
  --color-input-background: #ffffffbb;
  --color-input-background-focus: #ffffff;

  // Search keyboard shortcut hint colors
  --color-keyboard-1: #ffffff;
  --color-keyboard-2: #00000025;
  --color-keyboard-3: #00000035;
  --color-keyboard-4: #00000060;

  // GUI Labels
  --color-guilabel-background: #ddeeff80;
  --color-guilabel-border: #bedaf580;
  --color-guilabel-text: var(--color-foreground-primary);

  // Admonitions!
  --color-admonition-background: transparent;

  //////////////////////////////////////////////////////////////////////////////
  // Everything below this should be one of:
  // - var(...)
  // - *-gradient(...)
  // - special literal values (eg: transparent, none)
  //////////////////////////////////////////////////////////////////////////////

  // Tables
  --color-table-header-background: var(--color-background-secondary);
  --color-table-border: var(--color-background-border);

  // Cards
  --color-card-border: var(--color-background-secondary);
  --color-card-background: transparent;
  --color-card-marginals-background: var(--color-background-secondary);

  // Header
  --color-header-background: var(--color-background-primary);
  --color-header-border: var(--color-background-border);
  --color-header-text: var(--color-foreground-primary);

  // Sidebar (left)
  --color-sidebar-background: var(--color-background-secondary);
  --color-sidebar-background-border: var(--color-background-border);

  --color-sidebar-brand-text: var(--color-foreground-primary);
  --color-sidebar-caption-text: var(--color-foreground-muted);
  --color-sidebar-link-text: var(--color-link);
  --color-sidebar-link-text--top-level: var(--color-link);

  --color-sidebar-item-background: var(--color-sidebar-background);
  --color-sidebar-item-background--current: var(
    --color-sidebar-item-background
  );
  --color-sidebar-item-background--hover: linear-gradient(
    90deg,
    var(--color-background-hover--transparent) 0%,
    var(--color-background-hover) var(--sidebar-item-spacing-horizontal),
    var(--color-background-hover) 100%
  );

  --color-sidebar-item-expander-background: transparent;
  --color-sidebar-item-expander-background--hover: var(
    --color-background-hover
  );

  --color-sidebar-search-text: var(--color-foreground-primary);
  --color-sidebar-search-background: var(--color-background-secondary);
  --color-sidebar-search-background--focus: var(--color-background-primary);
  --color-sidebar-search-border: var(--color-background-border);
  --color-sidebar-search-icon: var(--color-foreground-muted);

  // Table of Contents (right)
  --color-toc-background: var(--color-background-primary);
  --color-toc-title-text: var(--color-foreground-muted);
  --color-toc-item-text: var(--color-link);
  --color-toc-item-text--hover: var(--color-link);
  --color-toc-item-text--active: var(--color-link);

  // Actual page contents
  --color-content-foreground: var(--color-foreground-primary);
  --color-content-background: transparent;

  // Links
  --color-link: var(--color-foreground-primary);
  --color-link--hover: var(--color-foreground-primary);
  --color-link-underline: var(--color-foreground-primary);
  --color-link-underline--hover: var(--color-foreground-primary);
}

@mixin colors-dark {
  --color-problematic: #ee5151;

  // Base Colors
  --color-foreground-primary: #fdfdfc; // for main text and headings
  --color-foreground-secondary: #e1e1df; // for secondary text
  --color-foreground-muted: #a6a4a1; // for muted text
  --color-foreground-border: #5d5c5a; // for content borders

  --color-background-primary: #1a1a19; // for content
  --color-background-secondary: #2b2b2a; // for navigation + ToC
  --color-background-hover: #4d4d4c; // for navigation-item hover
  --color-background-hover--transparent: hsl(36 2% 92% / 20%);
  --color-background-border: #373736; // for UI borders
  --color-background-item: #5d5c5a; // for "background" items (eg: copybutton)

  // Announcements
  --color-announcement-background: #000000dd;
  --color-announcement-text: #eeebee;

  // Brand colors
  --color-brand-primary: #2b8cee;
  --color-brand-content: #368ce2;

  // Modal overlay background
  --color-modal-overlay: #ffffff40;

  // Highlighted text (search)
  --color-highlighted-background: #4d4d4c;

  // Input field (search)
  --color-input-background: #000000bb;
  --color-input-background-focus: #000000;

  // Search keyboard shortcut hint colors
  --color-keyboard-1: #000000;
  --color-keyboard-2: #ffffff25;
  --color-keyboard-3: #ffffff35;
  --color-keyboard-4: #ffffff60;
  
  // GUI Labels
  --color-guilabel-background: #08356380;
  --color-guilabel-border: #13395f80;

  // API documentation
  --color-api-keyword: var(--color-foreground-secondary);
  --color-highlight-on-target: #333300;

  // Admonitions
  --color-admonition-background: #18181a;

  // Cards
  --color-card-border: var(--color-background-secondary);
  --color-card-background: #18181a;
  --color-card-marginals-background: var(--color-background-hover);
}
